body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f7fa;
}

/* Heading */
h1 {
    font-size: 42px;
    margin-top: 40px;
}

/* City */
h2 {
    font-size: 32px;
    margin-top: 20px;
}

/* Text */
p {
    font-size: 22px;
}

/* Input */
input {
    font-size: 18px;
    padding: 10px;
    width: 260px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Button */
button {
    font-size: 18px;
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}
